<div class="meetings cf">

  <h1>Add Report</h1>
  <form class="formgroup addmeeting cf"
    name="myform"
    ng-submit="addMeeting()"
    novalidate>
    <div class="inputwrapper">
      <input type="text" name="meetingname" 
      placeholder="First name" 
        ng-model="meetingname" ng-required="true">
    <input type="text" name="lastname" placeholder="Last Name" autofocus ng-model="lastname" ng-required="true">
    <input type="email" name="email" placeholder="Email" autofocus ng-model="email" ng-required="true">
    <p class="error validationerror" ng-show="myform.emaill.$invalid && myform.email.$touched"> 
        Must be a valid email </p>
    <input type="text" name="description" placeholder="Description" autofocus ng-model="description" ng-required="true">
    <input type="date" name="date" placeholder="Date" autofocus ng-model="date" ng-required="true">
    <input type="number" name="number" placeholder="How many did you see" autofocus ng-model="howmanydidyousee" ng-required="true">
    <label>Have you seen my dog Fang?</label><br>
Yes <input name="fangspotted" type="radio" value="yes" />
No <input name="fangspotted" type="radio" value="no" /><br><br>
<img src="logo.png" width="100" height="175"
alt="My abducted dog Fang." />
    </div>
    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">Add</button>
  </form>

  <h2>Your Report</h2>
  <div class="meeting" ng-repeat="(key, meeting) in meetings">
    <button class="btn btn-delete tooltip"
      ng-click="deleteMeeting(key)">
    <span>Delete this report</span></button>

  <!--  <a class="btn btn-list tooltip" 
      ng-href="#/checkins/{{currentUser.regUser}}/{{key}}/checkinsList">
      <span>View list of checked in users</span></a>

    <a class="btn btn-checkin tooltip" 
      ng-href="#/checkins/{{currentUser.regUser}}/{{key}}">
      <span>Go to check-in URL</span></a>
-->
   <span class="text">{{meeting.name}} {{meeting.lastname}}
        <br> {{meeting.email}} <br> {{meeting.description}} <br> {{meeting.number}}
    </span>

<!-- 
<table> <tr> 
        <td>{{meeting.name}} {{meeting.lastname}}</td> <br>
        <td>{{meeting.email}} </td> <br>
        <td> {{meeting.description}} </td> <br>
        <td> {{meeting.number}} </td> <br>
        </tr> </table>
-->
</div><!-- meeting list -->
</div><!-- meetings cf -->
